.display-3 {
    font-family: 'Arbutus Slab', serif;
    font-size: 48px;
}
#red {
	color: red;
}
.bold {
	font-weight: bold;
}
.bolder {
	font-weight: bolder;
}

#green {
	color: green;
}
#blue {
	color: blue;
}
#orange {
	color: orange;
}

p {
	font-family: 'EB Garamond', serif;
	font-size: 18px;
	font-weight: normal;
}

.navbar-brand {
	font-family: 'Arbutus Slab', serif;
}

.col-md-4 h2 {
	font-family: 'Arbutus Slab', serif;
	font-weight: bold;
	font-size: 30px;
}

.btn {
    font-family: 'Nixie One', cursive;
    font-weight: bold;
    font-size: larger;
}

.col {
	margin-top: 3rem;
}
.col-md-4 {
	margin-top: 1rem;
}

.col h1 {
	font-family: 'Arbutus Slab', serif;
	font-weight: bold;
	font-size: 50px;
	color: blue;
	text-align: center;
}
.center {
	text-align: center;
}
.col h2 {
	font-family: 'Nixie One', cursive;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-family: 'Nixie One', cursive;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 1.2rem;
}

.col p {
	font-family: 'Neuton';
	font-size: 20px;
	font-weight: 550;
}

em {
	font-weight: bold;
}

.legend {
	font-family: 'EB Garamond', serif;
	margin-top: 1px;
	text-align: center;
	font-size:	15px;
}

.col-md-4 h1 {
	font-family: 'Arbutus Slab', serif;
	font-weight: bold;
	font-size: 50px;
	color: blue;
	text-align: center;
}

.col-lg-4 h2 {
	font-family: 'Nixie One', cursive;
	font-size: 50px;
}

.col-6 h2 {
	font-family: 'Nixie One', cursive;
	font-size: 25px;
	font-weight: bold;
}

.congruent {
	font-family: 'Neuton';
	font-size: 35px;
	margin-left: 80px;
	margin-bottom: -20px;
	color: orange;
	animation-delay: 0.5s;
}
.incongruent {
	font-family: 'Neuton';
	font-size: 35px;
	margin-left: 80px;
	margin-top: -20px;
	color: green;
	animation-delay: 1s;
}
.zoomIn p {
	font-family: 'EB Garamond', serif;
	text-align: justify;
}
.delay {
	animation-delay: 1s;
}
.tab {
	margin-top: -15px;
	margin-left: 30px;
}

.tab-up {
	margin-top: 30px;
}
.space {
	margin-left: 12px;
}
.btn a {
	text-decoration: none;
	color: inherit;
}
.side {
	margin-left: 12px;
}
