_site

<button type="button" class="btn btn-warning">Warning</button>

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <a class="navbar-brand" href="index.html"> Stroop Effect Analysis </a>  
  <button type="button" class="btn btn-warning right">Warning</button>
</nav>