---
layout: default
---
<div class="container">
    <!---########## Heading ############### -->
    <div class="row">
        <div class="col">
            <h1><div class="wow zoomIn">Visualisations</div></h1>
        </div>
    </div>
    <br><br>
    <!---########## Graph 1 and 2 ############### -->
    <div class="row">
        <div class="col-6">
            
            <div id="pi_chart1">
                {% include pi_chart.html %}
            </div>
           
        </div>
        <div class="col-6">
            <div id="pi_chart2">
                {% include pi_chart.html %}
            </div>
        </div>
    </div>
    <!---########## About Graph 1 and 2 ############### -->
    <div class="row">
        <div class="col">
            <div class="wow zoomIn">
                <p> The two pi charts above shows the percentage share of the scores
                of congruent and incongruent. Even in the pi chart it is visible that 
                the congruent one has more percentage share in the lower intervals as 
                comapred to the incongruent one. This is obvbious because on an average
                congruent test should take lesser time than incongruent one. For example
                <em> only 4% of 20 to 25</em> range while only <em> 0% of more than 25 </em> 
                are in congruent test while <em> more than 60% </em> are in the incongruent
                list for these intervals. </p>
            </div>
        </div>
    </div>
    <!---########## Graph 3 ############### -->
    <div class="row">
        <div class="col wow bounceIn">
            {% include bar_of_scores.html %}
            <div id="bar_score"></div>
        </div>
    </div>
    <!---########## About Graph 3 ############### -->
    <div class="row">
		<div class="col">
			<div class="wow zoomIn">
				<p> This is the comparison of the congruent and incongruent scores for each indivisuals. It can be observed that
						the value of the congruent scores in <span id="orange"> ORANGE </span> is lesser than all the incongruent scores
						colored in <span id="green"> GREEN </span>. This is the obvious situation because people would naturally take less
						time for pronouncing the congruent words as compared to incongruent ones. This also shows that there is no ouliers
						in the data although later displayed scatter plot would reveal it more. All the data is taken form the csv file given for the project. <em> Drag on the interactive graph below to zoom in. If you are on touch screen device then, pinch out to zoom in and vice versa. Tablets are best device to interact with the graph however this is
						not necessary always. </em>
				</p>
			</div>
		</div>
	</div>
    <!---########## Graph 4 ############### -->
    <div class="row">
        <div class="col">
            {% include correlation.html %}
            <div id="sctr"></div>
        </div>
    </div>
    <!---########## About Graph 4 ############### -->
    <div class="row">
        <div class="col">
            <div class="wow zoomIn">
                <h2> Can we predict the incongruent score with someonne's congruent score ?? </h2>
                <p> This is very important. We have already agreed that words and their colours that 
                are given is independent and the time taken is dependent variable.
                Now we know that congruent scores are not dependent on the word and the color, hence
                the time taken by the congruent scoers can be somehow considered as independent and
                time for incongreunt is dependent. Moreover the person who takes more time with congruent words, should obviously take even more time with incongruent one. Hence it is logical to find the linear correlation between congruent and incongruent socres. Now if we know someone's congruent score or in 
                other word time taken to simply read some words correctly, we can predict how much 
                time that person would take to read some incongruent words correctly. In other words 
                we can predict his effect of <em> semantic interference - a major cause of Stroop Effect</em>
                <br><br>
                The above scatter graph can tell a lot of things. Firstly, it automatically calulates and plot the regression line with the scatter plot and we can see the equation of the regression line in legend. Looking at the regression line, we can see that most of the points are nearby the regression line which proves the fact that the correlation between the congruent and the incongruent score is pretty strong. This also means that the equation of the regression line can be used to predict any incongruent score <em> y value </em> if we pass in the congruent score <em> x value </em>
                <br><br>
                We can also see 2 outliers which are far off from the regression axis. This simply means that they are spoilers to our prediction model because the equation of the line does't really predict them.

                <span id="green"> <em>Overall there is a good pattern in this and hence if we find the r-squared value of this, we may end up with a good percentage.</em></span>

                <br><br>
                <em> As usual you can zoom into the scatter plot by selecting and dragging a section. Needless to say that this works better in touch interfaces with pinch out/in. </em>
                </p>
                <h2> <span id="red" class="bolder"> NOTE:</span> <span id="red" class="bold"> The regression line may not be visible in github pages for some technical reason but it would be visible if the project is run locally.</span></h2>
            </div>
        </div>
    </div>
    <br><br><br>
</div>






