---
layout: default
---
<div class="container">
    <!---########## Heading ############### -->
    <div class="row">
        <div class="col">
            <h1><div class="wow zoomIn">Visualisations</div></h1>
        </div>
    </div>
    <br><br>
    <!---########## About Graph 1 ############### -->
    <div class="row">
			<div class="col">
				<div class="wow zoomIn">
					<p> This is the comparison of the congruent and incongruent scores for each indivisuals. It can be observed that
							the value of the congruent scores in <span id="orange"> ORANGE </span> is lesser than all the incongruent scores
							colored in <span id="green"> GREEN </span>. This is the obvious situation because people would naturally take less
							time for pronouncing the congruent words as compared to incongruent ones. This also shows that there is no ouliers
							in the data although later displayed scatter plot would reveal it more. All the data is taken form the csv file given for the project. <em> Drag on the interactive graph below to zoom in. If you are on touch screen device then, pinch out to zoom in and vice versa. Tablets are best device to interact with the graph however this is
							not necessary always. </em>
					</p>
				</div>
			</div>
		</div>
    <!---########## Graph 1 ############### -->
		<div class="row">
			<div class="col">
	      {% include bar_of_scores.html %}
				<div id="bar_score"></div>
			</div>
		</div>
		<!---########## About Graph 2 ############### -->
    <div class="row">
			<div class="col">
				<div class="wow zoomIn">
					<p> Documentation for the second graph </p>
				</div>
			</div>
		</div>
    <!---########## Graph 2 ############### -->
		<div class="row">
			<div class="col">
    	  {% include pi_chart.html %}
				<div id="pi_chart"></div>
			</div>
		</div>
</div>






