<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><span id="red">What</span> <span id="green">is</span> <span id="blue">Stroop</span> <span id="orange">Effect?</span></h1>
    <p>The famous "Stroop Effect" is named after J. Ridley Stroop who discovered this strange phenomenon in the 1930s. Here is your job: name the colors of the following words. Do NOT read the words...rather, say the color of the words. For example, if the word <span id="red">"BLUE"</span> is printed in a red color, you should say "RED". Say the colors as fast as you can. It is not as easy as you might think!</p>
    <p><a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Stroop_effect" role="button" target="_blank">Learn more </a></p>
  </div>
</div>