 <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="index.html">Stroop Effect</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link btn" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" href="statistics.html">Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" href="hypothesis.html">Hypothesis</a>
          </li>
        </ul>
          <button class="btn btn-outline-success" type="button">
            <a href="https://github.com/MayukhSobo/stroop_effect">View Source</a>
          </button>
          <button class="btn btn-outline-warning space" type="button">
            <a href="https://drive.google.com/file/d/0B9Yf01UaIbUgQXpYb2NhZ29yX1U/view">Get CSV</a>
          </button>
      </div>
    </nav>